<template>
  <v-alert type="error" v-model="isError">
    {{ error }}
  </v-alert>
</template>

<script>
export default {
  name: 'ErrorBar',
  props: {
    error: {
      type: String,
    },
  },
  computed: {
    isError() {
      return !!this.error;
    },
  },
}
</script>

<style scoped></style>
