<template>
  <div>
    <iframe :src="url" class="irc">
    </iframe>
  </div>
</template>

<script>
export default  {
  name: 'IrcWindow',
  props: {
    channel: {
      type: String
    },
    server: {
      type: String
    }
  },
  computed: {
    url() {
      return `https://kiwiirc.com/client/${this.server}/${this.channel}/?theme=mini`;
    }
  }
}
</script>

<style scoped>
.irc {
  border: 0;
  width: 100%;
  height: 100%;
}
</style>
