<template>
  <v-card tile>
    <v-card-title>Recorded Content</v-card-title>
    <v-card-text>
      <v-list class="overflow-y-auto">
      <v-list-item v-for="item in content" :key="item.id">
        <v-list-item-content>
          {{ formatDateTime(item.start) }} - {{ item.name }} ({{ item.duration }})
        </v-list-item-content>
        <v-list-item-action>
          <v-btn icon>
            <v-icon>mdi-play</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'RecordedContentList',
  props: {
    content: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    formatDateTime(dt) {
      let d = new Date(dt);
      return d.toLocaleString({
        dateStyle: 'short',
        timeStyle: 'short',
      });
    },
  },
}
</script>

<style scoped></style>
