<template>
  <div>
    <v-tabs v-model="room"
        background-color="grey lighten-3"
        centered grow
        show-arrows
        @change="$emit('set-room', room)">
      <v-tab v-for="(item, index) in items" :key="index">
        {{ item.name }}
      </v-tab>
    </v-tabs>
  </div>
</template>

<script>
export default {
  name: 'RoomList',
  data() {
    return {
      room: null
    };
  },
  computed: {
    items() {
      return this.$store.state.rooms;
    }
  }
};
</script>

<style scoped></style>
