<template>
  <div @click="$emit('click', $event)">
    <video :muted="muted"
           autoplay
           playsinline
           ref="room"
           class="stream"
           id="video"
           width="100%"
    ></video>
    <div id="no-video">
      <div class="text">
        No video available
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WebRtcVideo',
  props: {
    muted: {
      type: Boolean,
      default: false
    },
  },
}
</script>

<style scoped>
#video {
  display: none;
}

#no-video {
  background-color: #000000;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.text {
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>
