{% extends "!breadcrumbs.html" %}

{% block breadcrumbs_aside %}
  <li class="wy-breadcrumbs-aside">
        <a href="https://gitlab.com/billowconf/billowconf/blob/master/docs/{{ pagename }}.rst" class="fa fa-gitlab"> {{ _('Edit on GitLab') }}</a>
  </li>
{% endblock %}
