<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Reset link sent!</v-card-title>
          <v-card-text>
            Check your email for a link to reset your password. If it doesn’t appear
            within a few minutes, check your spam folder. 
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="2" class="hidden-sm-and-smaller"></v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'PasswordResetSent',
}
</script>

<style></style>

