<template>
  <v-dialog v-model="dialog" width="500" :persistent="deleteLoading">
    <template v-slot:activator="{ on }">
      <management-form :error="error" :title="title">
        <v-form v-model="valid" @submit.prevent="submit">
          <v-text-field v-model="name" :rules="requiredRules" label="Name" required>
          </v-text-field>
          <v-autocomplete v-model="conference"
                          :items="conferences"
                          item-text="name"
                          item-value="id"
                          label="Conference"
                          :loading="isLoading"
                          required
                          ></v-autocomplete>
          <v-text-field v-model="ircChannel"
                        :rules="requiredRules"
                        label="IRC Channel"
                        required
                        ></v-text-field>
          <v-btn :disabled="!valid" color="primary" type="submit">Submit</v-btn>
          <v-btn color="secondary" :to="{ name: 'RoomAdmin' }">Cancel</v-btn>
          <v-btn color="error" v-on="on" v-if="isEdit">Delete</v-btn>
        </v-form>
      </management-form>
    </template>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Confirm delete
      </v-card-title>
      <v-card-text>
        Are you sure you want to delete room {{ name }}?"
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn :disabled="deleteLoading" color="secondary" text @click="dialog = false">
          No
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="deleteItem" :loading="deleteLoading">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Api from '@/utils/api.js';
import ManagementForm from '@/components/ManagementForm';

export default {
  name: 'RoomManageAdmin',
  components: {
    ManagementForm,
  },
  props: {
    sid: {
      type: String,
      default: "-1",
    },
  },
  data() {
    return {
      error: '',
      valid: false,
      dialog: false,
      deleteLoading: false,
      name: '',
      conference: '',
      conferences: null,
      ircChannel: '',
      requiredRules: [
        v => !!v || 'Required'
      ],
    };
  },
  computed: {
    isEdit() {
      return this.id != -1;
    },
    isLoading() {
      return this.conferences === null
    },
    id() {
      return Number(this.sid);
    },
    title() {
      if (this.isEdit) {
        return 'Edit Room';
      } else {
        return 'Create Room';
      }
    },
  },
  mounted() {
    const api = new Api();
    if (this.isEdit) {
      api.room(this.id).then(response => {
        const room = response.data;
        this.name = room.name;
        this.conference = room.conference;
        this.ircChannel = room.irc_channel;
      }).catch(error => {
        this.error = 'Unable to retrieve room details';
        console.error(error);
      });
    }
    api.conferences().then(response => {
      this.conferences = response.data.results;
    }).catch(error => {
      this.error = 'Unable to retrieve conference list';
      console.error(error);
    });
  },
  methods: {
    submit: function() {
      const api = new Api();
      var promise = null;
      if (this.isEdit) {
        promise = api.editRoom(this.id, this.name, this.conference, this.ircChannel);
      } else {
        promise = api.createRoom(this.name, this.conference, this.ircChannel);
      }
      promise.then(() => {
        this.$router.push({
          name: 'RoomAdmin'
        });
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized manage rooms';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
    deleteItem: function() {
      this.deleteLoading = true;
      const api = new Api();
      api.deleteRoom(this.id).then(() => {
        this.deleteLoading = false;
        this.dialog = false;
        this.$router.push({
          name: 'RoomAdmin'
        });
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized delete rooms';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
  }
}
</script>

<style></style>
